<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016
                {#<a target="_blank" href="#" title="Programación y diseño">#}Andorina{#</a>#}. {% trans %}copyright.reserved{% endtrans %}
                <div style="width:97px;">
                    <a rel="nofollow" href="http://www.qweb.es/_hostales.html" target="_blank" title="Directorio de Hostales">
                        <img src="http://www.qweb.es/certqweb-hostalcabriales.com.gif" width="97" height="31" style="border:0" alt="Directorio de Hostales" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
                    <li><a href="{{ path('contact') }}">{% trans %}menu.contact.us{% endtrans %}</a></li>
                    <li><a id="gototop" class="gototop" href="#"><i class="icon icon-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->