{% extends "base.html.twig" %}

{% block title %}
    {% trans %}title.services{% endtrans %}
{% endblock %}

{% block body %}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% trans %}title.services{% endtrans %}</h1>
                    <p>{% trans %}subtitle.services{% endtrans %}</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
                        <li class="active">{% trans %}menu.services{% endtrans %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap">
                        <h2>{% trans %}title.offer{% endtrans %}</h2>
                        <p>{% trans %}subtitle.offer{% endtrans %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon icon-bed icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{% trans %}room.title{% endtrans %}</h3>
                            <p>{% trans %}room.description{% endtrans %}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon icon-cutlery icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{% trans %}food.title{% endtrans %}</h3>
                            <p>{% trans %}food.description{% endtrans %}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon icon-tint icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{% trans %}laundry.title{% endtrans %}</h3>
                            <p>{% trans %}laundry.description{% endtrans %}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon icon-glass icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{% trans %}drinks.title{% endtrans %}</h3>
                            <p>{% trans %}drinks.description{% endtrans %}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon icon-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{% trans %}otherservices.title{% endtrans %}</h3>
                            <p>{% trans %}otherservices.description{% endtrans %}</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>{% trans %}title.clients.say{% endtrans %}</h2>
                        <!--                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>-->
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>
                                    Excelente lugar donde quedarse en Trinidad. La ubicación es muy buena, la habitación amplia, luminosa,
                                    con baño privado. Y lo más importante excelente el trato de los dueños de casa, nos hicieron sentir
                                    como en nuestro hogar!! La mejor experiencia en Cuba sin dudas.
                                </p>
                                <small>Lucía Q ({{ 'UY'|country }})</small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>
                                    I stayed in this hostel during an Intrepid trip through Cuba. This hostel was a beautiful place.
                                    Very clean room with a balcony. The people are very nice and helpful. The location is good,
                                    everything is in walking distance. I highly recommend this hostel.
                                </p>
                                <small>travellingzia ({{ 'CH'|country }})</small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#services-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#servicesMenu').addClass('active')
    </script>
{% endblock %}