<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>{% trans %}title.clients.opinions{% endtrans %}</h2>
<!--                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>-->
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>
                                Hostal Cabriales recently built the 2 large bedrooms they have available for rent on the 1st floor.
                                A beautiful terrace out back for breakfast gives you a sneak peek into the neighbouring backyard
                                animal life. They served great breakfast and were very helpful with organizing taxis to sights
                                in the area (Valle de los ingenios) and to Havana Airport. The family and especially the two
                                brothers Gabriel and Alejandro were very welcoming and enthusiastic conversationalists especially
                                when it comes to sports! :) <br>
                                We had a wonderful time at Hostal Cabriales! Too bad we couldn't spend more time in Trinidad...
                                Muchas Gracias por su hospitalidad!
                            </p>
                            <small>Andrea S</small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>
                                Excelente lugar donde quedarse en Trinidad. La ubicación es muy buena, la habitación amplia, luminosa,
                                con baño privado. Y lo más importante excelente el trato de los dueños de casa, nos hicieron sentir
                                como en nuestro hogar!! La mejor experiencia en Cuba sin dudas.
                            </p>
                            <small>Lucía Q ({{ 'UY'|country }})</small>
                        </blockquote>
                        <blockquote>
                            <p>
                                I stayed in this hostel during an Intrepid trip through Cuba. This hostel was a beautiful place.
                                Very clean room with a balcony. The people are very nice and helpful. The location is good,
                                everything is in walking distance. I highly recommend this hostel.
                            </p>
                            <small>travellingzia ({{ 'CH'|country }})</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->