{% extends "base.html.twig" %}

{% block title %}
    {% trans %}hostels.title{% endtrans %}{#: {{ destination.name }} #}
{% endblock %}

{% block body %}
    <section id="portfolio" class="container">
        <div class="row">
            <div class="col-sm-12">
                <form id="search-form">
                    <input id="search-box" type="search" class="form-control">
                </form>
            </div>
        </div>
        <ul class="portfolio-items col-3" id="hostel-gallery">
            {{ include('hostel/gallery_content.html.twig') }}
        </ul>
    </section><!--/#portfolio-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var form = $('#search-form');
        form.submit(function () {
            var $query = $('#search-box').val();
            $.get(Routing.generate('hostel_search', { query: $query, _locale: '{{ app.request.locale }}' }), $(this).serialize(), function(data) {
                $('#hostel-gallery').html(data);
            });
            return false;
        });
    </script>
{% endblock %}