<section id="bottom" class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>{% trans %}label.whoweare{% endtrans %}</h4>
                <p>{% trans %}paragraph.whoweare{% endtrans %}</p>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>{% trans %}label.ourhome{% endtrans %}</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="{{ path('homepage') }}">{% trans %}bigmenu.homepage{% endtrans %}</a></li>
                        <li><a href="{{ path('services') }}">{% trans %}bigmenu.services{% endtrans %}</a></li>
                        <li><a href="{{ path('pictures') }}">{% trans %}bigmenu.pictures{% endtrans %}</a></li>
                        <li><a href="{{ path('booking') }}">{% trans %}bigmenu.booking{% endtrans %}</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-2 col-sm-6">
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-6">
                <h4>{% trans %}title.address{% endtrans %}</h4>
                <address>
                    {% trans %}paragraph.address{% endtrans %}
                </address>
            </div> <!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->