{% extends 'base.html.twig' %}

{% block body %}
	{% block fos_user_heading %}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% block heading_title %}{% endblock %}</h1>
                    {#<p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>#}
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
                        <li class="active">{% block path %}{% endblock %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->
    {% endblock %}

	{% block fos_user_body %}
        <section class="container">
            <div class="col-sm-12">
    			{% block fos_user_content %}{% endblock %}
            </div>
      	</div>
        </section>
    {% endblock %}
{% endblock %}